_current_progress_remaining:
    value: 0.31187200000000004
_custom_logger:
    value: "False"
_episode_num:
    value: 0
_last_episode_starts:
    value: '[ True]'
_last_obs:
    value: |-
        [[9.2746    1.69397   0.2970812 0.        0.        0.        5.3596015
          3.0237896 0.8522156]]
_last_original_obs:
    value: None
_logger:
    value: <stable_baselines3.common.logger.Logger object at 0x774e3557c790>
_n_updates:
    value: 210
_num_timesteps_at_start:
    value: 0
_stats_window_size:
    value: 100
_total_timesteps:
    value: 1000000
_vec_normalize_env:
    value: None
_wandb:
    value:
        cli_version: 0.23.0
        e:
            r3la472q74zfzmkjel20ye3vwdcewgsc:
                codePath: gazebo_env/train.py
                codePathLocal: train.py
                cpu_count: 8
                cpu_count_logical: 16
                cudaVersion: "13.0"
                disk:
                    /:
                        total: "157396975616"
                        used: "115418529792"
                email: jay030399@gmail.com
                executable: /home/wenjia/miniconda3/envs/rl/bin/python
                git:
                    commit: 05d77634a4fead2835df16fdac6c1b8ea22d0abd
                    remote: https://github.com/WenJia030399/CBF_RL.git
                gpu: NVIDIA GeForce GTX 1660 Ti with Max-Q Design
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Turing
                      cudaCores: 1536
                      memoryTotal: "6442450944"
                      name: NVIDIA GeForce GTX 1660 Ti with Max-Q Design
                      uuid: GPU-b1958ae1-3061-6273-a56a-c94d3332f362
                host: wenjia-ROG
                memory:
                    total: "16151318528"
                os: Linux-6.8.0-87-generic-x86_64-with-glibc2.35
                program: /home/wenjia/CBFRL/gazebo_env/train.py
                python: CPython 3.10.19
                root: /home/wenjia/CBFRL/gazebo_env
                startedAt: "2025-11-30T14:49:39.259359Z"
                writerId: r3la472q74zfzmkjel20ye3vwdcewgsc
        m: []
        python_version: 3.10.19
        t:
            "1":
                - 1
            "2":
                - 1
            "3":
                - 1
                - 3
                - 13
                - 16
                - 22
                - 61
            "4": 3.10.19
            "5": 0.23.0
            "12": 0.23.0
            "13": linux-x86_64
action_noise:
    value: None
action_space:
    value: Box(-2.0, 2.0, (3,), float32)
algo:
    value: PPO
batch_size:
    value: 512
clip_range:
    value: FloatSchedule(ConstantSchedule(val=0.2))
clip_range_vf:
    value: None
device:
    value: cpu
ent_coef:
    value: 0.01
env:
    value: <stable_baselines3.common.vec_env.dummy_vec_env.DummyVecEnv object at 0x774e36f8ea40>
ep_info_buffer:
    value: deque([], maxlen=100)
ep_success_buffer:
    value: deque([], maxlen=100)
gae_lambda:
    value: 0.95
gamma:
    value: 0.99
learning_rate:
    value: 0.0005
lr_schedule:
    value: FloatSchedule(ConstantSchedule(val=0.0005))
max_grad_norm:
    value: 0.5
n_envs:
    value: 1
n_epochs:
    value: 10
n_steps:
    value: 1024
normalize_advantage:
    value: "True"
num_timesteps:
    value: 0
observation_space:
    value: Box([ 0.  0.  0. -2. -2. -2.  0.  0.  0.], [20. 10.  3.  2.  2.  2. 20. 10.  3.], (9,), float32)
policy:
    value: MlpPolicy
policy_class:
    value: <class 'stable_baselines3.common.policies.ActorCriticPolicy'>
policy_kwargs:
    value: '{}'
rollout_buffer:
    value: <stable_baselines3.common.buffers.RolloutBuffer object at 0x774e3460b220>
rollout_buffer_class:
    value: <class 'stable_baselines3.common.buffers.RolloutBuffer'>
rollout_buffer_kwargs:
    value: '{}'
sde_sample_freq:
    value: -1
seed:
    value: None
start_time:
    value: 1764514181208367685
target_kl:
    value: None
tensorboard_log:
    value: None
use_sde:
    value: "False"
verbose:
    value: 1
vf_coef:
    value: 0.5
